
body {
  background: #334034;
  /*
  background: linear-gradient(rgba(51, 64, 52, 0.95), rgba(51, 64, 52, 0)), url("./assets/wood-texture.jpg") center no-repeat;
  background-size: cover;
  */
  font-family: 'Open Sans', sans-serif;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #fff;
  margin-top: 60px;
  /*background: #334034;*/
}
.flex {
  display: -ms-flexbox;
  display: flex;
}
.flex.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.flex.v-center {
  -ms-flex-align: center;
      align-items: center;
}
.flex.v-bottom {
  -ms-flex-align: end;
      align-items: flex-end;
}
.flex.v-top {
  -ms-flex-align: start;
      align-items: flex-start;
}
.flex.h-center {
  -ms-flex-pack: center;
      justify-content: center;
}
.flex.h-left {
  -ms-flex-pack: left;
      justify-content: left;
}
.flex.h-right {
  -ms-flex-pack: right;
      justify-content: right;
}
.flex.h-space-between {
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.flex.text-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  word-break: break-all;
}
h1,
h2,
h3 {
  font-family: 'Raleway', sans-serif;
}
.logout-bar {
  padding-right: 20px;
}
.linked-text {
  text-decoration: none;
  color: #ACD9AF;
}
.linked-text:hover {
  text-decoration: none;
  color: #6F8C71;
}
.main-title {
  font-size: 4em;
  font-weight: bold;
}





















.toggle-link[data-v-60b1dd3e] {
    color: inherit;
    text-decoration: none;
}
.toggle-link[data-v-60b1dd3e]:hover {
    color: #cccccc;
    cursor: pointer;
}

h4[data-v-0c6e3af6] {
  font-size: 1.8em;
}

.list[data-v-5337eb44] {
  border: 2px solid #334034;
  height: 600px;
  overflow-y: scroll;
  padding: 15px;
  background: #27592A;
  border-radius: 6px;
}
.lists-row[data-v-5337eb44] {
  margin-bottom: 30px;
}

.task[data-v-32eec754] {
    border: 2px solid #27592A;
    padding: 15px;
    background: #288C2E;
    border-radius: 6px;
}
.task select[data-v-32eec754] {
    color: #404040;
    margin-top: 10px;
}

.comment[data-v-7de155bd] {
    padding: 15px;
    border: 1px solid #288C2E;
    background: #6F8C71;
    border-radius: 6px;
}
.flex[data-v-7de155bd] {
    display: -ms-flexbox;
    display: flex;
}
.flex.wrap[data-v-7de155bd] {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.flex.v-center[data-v-7de155bd] {
    -ms-flex-align: center;
        align-items: center;
}
.flex.v-bottom[data-v-7de155bd] {
    -ms-flex-align: end;
        align-items: flex-end;
}
.flex.v-top[data-v-7de155bd] {
    -ms-flex-align: start;
        align-items: flex-start;
}
.flex.h-center[data-v-7de155bd] {
    -ms-flex-pack: center;
        justify-content: center;
}
.flex.h-left[data-v-7de155bd] {
    -ms-flex-pack: left;
        justify-content: left;
}
.flex.h-right[data-v-7de155bd] {
    -ms-flex-pack: right;
        justify-content: right;
}
.flex.h-space-between[data-v-7de155bd] {
    -ms-flex-pack: justify;
        justify-content: space-between;
}
.flex.text-wrap[data-v-7de155bd] {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    word-break: break-all;
}
.linked-text[data-v-7de155bd] {
    text-decoration: none;
    color: #ACD9AF;
}
.linked-text[data-v-7de155bd]:hover {
    color: #6F8C71;
}

/*# sourceMappingURL=app.e28d46ef7189302b995fcb79fe6c04c9.css.map*/